@import "_reset.scss";

$language_btn_color: #a09595;
$back_color: #bb8f72;
$nav_li_hover: #b9b9b9;
$color_nav: #a09595;

$open_sans: 'Open Sans',
sans-serif;
$playfair: 'PlayfairDisplaySC-Bold',
serif;
$mariad_pro: 'Mariad Pro',
sans-serif;

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
body {background-color: #ffffff;}
.wrap {
    width: 90%;
    margin: auto;
    min-width: 1020px;
}
header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header_left,
.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}
.tel {
    display: flex;
    align-items: center;
    .tel_logo {
        background-color: $back_color;
        padding: 7px;
        border-radius: 15px;
    }
    span {
        font-family: $open_sans;
        font-size: 16px;
        color: $language_btn_color;
        padding: 0px 10px;
    }
}
.nav_left {float: right;}
.nav_left,
.nav_right {
    width: 70%;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $playfair;
        font-size: 19px;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
.nav_link{
    padding: 15px 0px;
    text-decoration: none;
    color: black;
}
.nav_link, 
.nav_link::after, 
.nav_link::before{
    transition: all .5s
}
.nav_link:hover{color: $color_nav;}
.nav_link{position: relative;}
.nav_link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: $nav_li_hover;
    height: 1px;
}
.nav_link:hover::after{width: 60%;}
.logo {margin-bottom: -33px;}
.lang_btn {
    color: $language_btn_color;
    font-family: $mariad_pro;
    text-decoration: none;
    padding: 7px;
}

.lang_btn:active {
    background-color: $back_color;
    border-radius: 15px;
    color: white;
}
main{
    display: flex;
    justify-content: space-around;
    background: url("../images/Quantum_backt.png") no-repeat;
    background-position-y: 15vh;
    margin-bottom: 100px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 610px;
}
.info_content{margin-left: 25px;}
#date{
    font-size: 26px;
    font-family: $playfair;
    color: $color_nav;
    sup{font-size: 12px;}
}
.text{
    margin: 30px 0px 30px 30px;
    h1{
        font-family: $playfair;
        font-size: 42px;
    }
    p{
        font-family: $open_sans;
        font-size: 16px;
        padding: 35px 0px;
        position: relative;
        line-height: 20px;
    }
}
.info_btn{
    padding: 7px 20px;
    border: 1.5px solid $back_color;
    background-color: white;
    font-family: $open_sans;
    font-size: 14px;
    color: $back_color;
}
.info_btn:hover{
    cursor: pointer;
    font-weight: bolder;
}
#view{
    margin-top: 90px;
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: url("../images/Residential building_night-min.png") no-repeat;
    background-size: contain;
    .social_links{
        display: flex;
        align-items: center;
        a{padding: 5px 10px;}
        a:hover{opacity: 0.5;}
    }
    .call{
        margin-right: -45px;
        margin-bottom: -30px;
        border: 1px solid $back_color;
        padding: 10px;
        border-radius: 25px;
    }
    .swing:hover {
        cursor: pointer;
        -webkit-animation: swing 0.7s ease;
        animation: swing 0.7s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}
footer{
    background-color: black;
    height: fit-content;
    font-family: $open_sans;
    font-size: 12px;
    color: whitesmoke;
    p{float: left;}
    .company{
        float: right;
        display: flex;
        align-items: center;
        img{padding-left: 5px;}
    }
}
.wrap_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px;
}